[submodule "clojure-mode"]
	path = clojure-mode
	url = https://github.com/technomancy/clojure-mode.git

[submodule "nrepl.el"]
	path = nrepl.el
	url = https://github.com/kingtim/nrepl.el.git

[submodule "markdown-mode"]
	path = markdown-mode
	url = http://jblevins.org/git/markdown-mode.git
[submodule "paredit"]
	path = paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule "json-mode"]
	path = json-mode
	url = https://github.com/joshwnj/json-mode
[submodule "acrolog-mode"]
	path = acrolog-mode
	url = https://github.com/rbarbey/acrolog-mode.git
[submodule "button-lock"]
	path = button-lock
	url = https://github.com/rolandwalker/button-lock.git
[submodule "nodejs-mode"]
	path = nodejs-mode
	url = https://github.com/emacsmirror/nodejs-mode.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "popup-el"]
	path = popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "lintnode"]
	path = lintnode
	url = https://github.com/davidmiller/lintnode.git
[submodule "jade-mode"]
	path = jade-mode
	url = https://github.com/brianc/jade-mode.git
